@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@100;200;300;400&display=swap');
/* Aparência da barra de navegação aberto */
body{
  background-color: #792477;
}

.topnav {
    overflow: hidden;
    background-color: #440746;
    position: relative;
    font-family: 'Inter Tight', sans-serif;
  }

  /*Icon*/
  .topnav img{
    height: 60px; /*Altura*/
    width: 60px;
    right: 0;
    top: 0;
    margin-top: 0px;
    padding-bottom: 10px; 
    padding-left: 5px;
}
  
/* Links escondidos (exceto para logo/home) */
  .topnav #myLinks {
    display: none;
  }
  
 /* Aparencia dos links (fonte, cor, tamanho etc */
  .topnav a {
    color: rgb(255, 255, 255);
    padding: 14px 16px;
    text-decoration: none;
    font-size: 19px;
    display: block;
    width: 65px; /*Tamanho do quadrado do meu icone*/
  }

 /* Aparencia do icone do menu */
  .topnav a.icon {
    background: #440746;
    display: block;
    position: absolute; /*A frente de tudo*/
    right: 0; 
    top: 0;
    padding-top: 35px;
    padding-left: 40px;
    width: 50px; /*tamanho do quadrado do meu icone direito*/
    height: 60px; /*Largura do quadrado do meu icone direito*/
  }

.topnav a.icon:hover{
    background-color: #531d55}
  
  /* Adiciona uma cor de fundo cinza ao passar o mouse em cima */
  .topnav a:hover {
    background-color: #531d55;
    color: rgb(255, 255, 255);
    width: 100%;
}
  
  /* Estilizar o link ativo (ou home/logotipo) */
  .active {
    background-color: #4c0b4e;
    color: white;
}



/* INICIO FORMS LOGIN */
.wrapper {
  margin-bottom: 350px;
  margin-top: 350px;
  --input-focus: #edceff;
  --font-color: #fefefe;
  --font-color-sub: #7e7e7e;
  --bg-color: #dac0e9;
  --bg-color-alt: #7e7e7e;
  --main-color: #fefefe;
  width: 600px;
  display: flex; 
  flex-direction: column; 
  align-items: center; 
}

/* switch card */
.switch {
  transform: translateY(-200px);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 50px;
  height: 20px;
}

.card-side::before {
  position: absolute;
  content: 'Login';
  left: -120px;
  top: 0;
  width: 100px;
  text-decoration: underline;
  color: var(--font-color);
  text-decoration: none;
  font-weight: 600;
}

.card-side::after {
  text-decoration: none;
  position: absolute;
  content: 'Cadastre-se';
  left: 70px;
  top: 0;
  width: 100px;
  text-decoration: none;
  color: var(--font-color);
  font-weight: 600;
}

.toggle {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  box-sizing: border-box;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  box-shadow: 4px 4px var(--main-color);
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--bg-color);
  transition: 0.3s;
}

.slider:before {
  box-sizing: border-box;
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  border: 2px solid var(--main-color);
  border-radius: 5px;
  left: -2px;
  bottom: 2px;
  background-color: var(--bg-color);
  box-shadow: 0 3px 0 var(--main-color);
  transition: 0.3s;
}

.toggle:checked + .slider {
  background-color: var(--input-focus);
}

.toggle:checked + .slider:before {
  transform: translateX(30px);
}

.toggle:checked ~ .card-side:before {
  text-decoration: none;
}

.toggle:checked ~ .card-side:after {
  text-decoration: underline;
}

/* card */ 

.flip-card__inner {
  width: 300px;
  height: 350px;
  position: relative;
  background-color: transparent;
  perspective: 1000px;
    /* width: 100%;
    height: 100%; */
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.toggle:checked ~ .flip-card__inner {
  transform: rotateY(180deg);
}

.toggle:checked ~ .flip-card__front {
  box-shadow: none;
}

.flip-card__front, .flip-card__back {
  padding: 20px;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background: var(--bg-color);
  gap: 20px;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  box-shadow: 4px 4px var(--main-color);
}

.flip-card__back {
  width: 100%;
  transform: rotateY(180deg);
}

.flip-card__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.title {
  margin: 20px 0 20px 0;
  font-size: 25px;
  font-weight: 900;
  text-align: center;
  color: var(--main-color);
}
/* Campo para escrever */
.flip-card__input {
  width: 250px;
  height: 40px;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  background-color: #7e5496;
  box-shadow: 4px 4px var(--main-color);
  font-size: 15px;
  font-weight: 600;
  color: var(--font-color);
  padding: 5px 10px;
  outline: none;
}

.flip-card__input::placeholder {
  color: var(--FFFFFF);
  opacity: 0.8;
}

.flip-card__input:focus {
  border: 2px solid var(--input-focus);
}

.flip-card__btn:active, .button-confirm:active {
  box-shadow: 0px 0px var(--main-color);
  transform: translate(3px, 3px);
}
/* BOTAO DE CONFIRMACAO */
.flip-card__btn {
  margin: 20px 0 20px 0;
  width: 120px;
  height: 40px;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  background-color:#874aaa;
  box-shadow: 4px 4px var(--main-color);
  font-size: 17px;
  font-weight: 600;
  color: var(--font-color);
  cursor: pointer;
} 
/* FIM FORMS LOGIN */




/* INICIO FOOTER */
.footer-arrow {
  float:left ;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}
.footer-arrow svg {
  display: block;
  width: calc(100% + 1.3px);
  height: 30px;
  background-color: #000000;
}
.footer-arrow .shape-fill {
  fill: #f4f4f4;;
}
.main_footer          { background-color:#000000; color:#fff; font-size:1em; }
.main_footer .content { float:left; width:80%; margin:0 10%; padding: 5em 0; }
.container { float:left; width:100%; }
.colfooter { 

width:100%; 
height:auto; 
float:left; 
margin-bottom:2em;
}
.colfooter ul        { width:100%; float:left; }
.colfooter ul li     { padding:0.2em 0em; }
.colfooter ul li a   { text-decoration:none; color:#ffffff; font-size:1em; transition:0.2s; }
.colfooter ul li a i { font-size:0.5em; }
.colfooter ul li a:hover { color:#b11bbe; }
.colfooter .titleFooter   { 
font-family: 'Lato', sans-serif; 
font-size:1.3em; 
color:#ffffff; 
padding-bottom: 0.5em; 
margin-bottom:0.5em; 
border-bottom: 1px #77108b solid;
}
.colfooter p  { 
font-family: 'Lato', sans-serif; 
color:#ffffff; 
font-size:1em; 
height:25px; 
}
.colfooter .redesocial { 
  
  color: #ffffff;
  float: left;
  text-decoration: none;
  display: block;
  width: 100%;
  margin-bottom: 10px;
  transition:0.2s;
}
.colfooter .redesocial:hover { 
  
  color: #b11bbe;
  transition:0.2s;
}
.main_footer_copy   { background-color:#1c1c1c; width:100%; float:left; font-family: 'Lato', sans-serif; text-align:center; padding:1.5em 0em; }
.main_footer_copy p { font-size:1em; color:#ffffff; height:20px; }
.main_footer_copy .m-b-footer   { margin-bottom:0.5em; }
.main_footer_copy .by   { font-size:0.96em; }
.main_footer_copy .by a       { color:#fff; text-decoration:none; font-weight:600; transition:0.2s; }
.main_footer_copy .by a:hover { text-decoration:underline; color:#b11bbe }
.main_footer_copy .by i { font-size:0.96em; margin-right:3px; color:#e82626; }
/*Responsivo*/
/*768PX BREAKPOINT*/
@media (min-width:48em){

.colfooter  { width:30%; margin-right:5%; margin-bottom:0; }
.colfooter:nth-of-type(3n+0){ margin-right:0; border-right:0;}
.footer-arrow svg { height:50px; }
}
/*960PX BREAKPOINT*/
@media (min-width:60em){
.footer-arrow svg { height:70px; }
}
/*1280PX BREAKPOINT*/
@media (min-width:80em){
.footer-arrow svg { height:90px; }
}


